/examples export-ignore
/examples/** export-ignore
/docs export-ignore
/docs/** export-ignore
/tools export-ignore
/tools/** export-ignore
/src/test export-ignore
/src/test/** export-ignore
/src/main/kotlin/io/bazel/kotlin/test export-ignore
/src/main/kotlin/io/bazel/kotlin/test/** export-ignore
