# Enable d8 merger
build --define=android_dexmerger_tool=d8_dexmerger

# Flags for the D8 dexer
build --define=android_incremental_dexing_tool=d8_dexbuilder
build --define=android_standalone_dexing_tool=d8_compat_dx

build --platform_mappings=platform_mappings
build --@rules_kotlin//kotlin/settings:jvm_emit_jdeps=False

common --java_runtime_version=remotejdk_17
common --tool_java_runtime_version=remotejdk_17

# Required for abseil-cpp which requires C++17
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Android build tools use Java 17 language features.
common --tool_java_language_version=17

common --repo_env=ACCEPTED_ANDROID_SDK_LICENSE_VERSION=35

# Use the prebuilt compiler instead of compiling protoc and its C++ dependencies.
common --incompatible_enable_proto_toolchain_resolution
common --@com_google_protobuf//bazel/toolchains:prefer_prebuilt_protoc=true
